<div mat-dialog-content>
  <p>Book</p>
  <form [formGroup]="bookForm">
    <label>Name</label>
    <input matInput type="text" class="form-control" placeholder="Name" formControlName="name">
    <mat-form-field appearance="fill">
      <mat-label>Select Publisher</mat-label>
      <mat-select formControlName="publisher">
        <mat-option *ngFor="let publisher of publisher" [value]="publisher">
          {{publisher.publisherName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Book Info</mat-label>
      <mat-select formControlName="bookInformation">
        <mat-option *ngFor="let bookInformation of bookInformation" [value]="bookInformation">
          {{bookInformation.genre}} p. {{bookInformation.numberOfPages}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Author</mat-label>
      <mat-select multiple formControlName="author">
        <mat-option *ngFor="let author of author" [value]="author">
          {{author.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" (click)="save()" cdkFocusInitial>Ok</button>
</div>
