<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Author</title>
  <base href="/">
</head>
<body>

<div class="content" role="main">
  <h2>Library</h2>

  <div class="card-container">
    <a class="card" routerLink="/author">
      <span>Author tab</span>
    </a>
    <a class="card" href="/">
      <span>Publisher tab</span>
    </a>
    <a class="card" href="/">
      <span>Book Information tab</span>
    </a>
    <a class="card" href="/">
      <span>Book tab</span>
    </a>
  </div>

</div>
</body>
</html>
